.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 15%;
  z-index: 1000;
  height: 60px;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  color: #000;
}

.navLinks {
  display: flex;
  gap: 2rem;
}

.navLinks a {
  text-decoration: none;
  color: #4b5563;
  font-size: 1rem;
  font-weight: 500;
}

.navLinks a:hover {
  color: #000000;
} 